<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}English to Kannada Translator{% endblock %}</title>
</head>
<body>
    <header>
        <h1>English to Kannada Translator</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 English to Kannada Translator</p>
    </footer>
</body>
</html>